@charset "utf-8";
/* CSS Document 
*/ 

/*reset*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 "Microsoft YaHei","微软雅黑",Helvetica,Arial,Tahoma,Verdana;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
p{ }
a:hover{text-decoration:underline;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
html { overflow-y: scroll; }

.highlight { padding:0 2px; color:#175c87;}
.clearfix .highlight { font-size:20px; }
.font14px { font-size:14px;}
.empty2em { text-indent: 2em; }

/*emoji*/
.emoji {width: 20px; height: 20px;}
.username .emoji {width: 16px; height: 16px;}

/*clearfix*/
.clearfix:after,.bbg_layout_container:after,.bbg_layout_container_uc:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:block;zoom:1}
.clear {display:block;clear:both;}

/*float*/
.fl, .left{float:left}
.fr, .right{float:right}

/*Link*/
a {color:#9cdfff;;text-decoration:none;cursor:pointer}
a:hover {color:#00A2FF;text-decoration:none;}
/*color and highlight*/
.highlight_orange{color:#ecb95d;padding:0 2px;font-size:18px; }
.highlight_black{color:#000000;font-size:18px;}
.color_blue{color:#00b4ff}
.color_red{color:#f00}
.color_orange{color:#ecb95d;}
.color_white{color:white;}
.colorDBlue{color:#0988D4;}
.colorlightBlue{color:#00A2FF;}
.colorlightGray{color:#6e6e6e;}
.color_gray{color:#646464}
.colorGray{color:#5B5B5B;}

.noborder{border:none}

/*text&input*/
.texthide { text-indent:-200em; overflow:hidden; display:block}
.textcenter{text-align:center;}
.texthide:hover { text-decoration:none }
.btn{border:none;cursor:pointer}
.hide {display:none;}
.show {display:block;}
.textshadow { text-shadow:0px 1px 1px #000000; }

.fixh { padding-bottom: 32767px !important; margin-bottom: -32767px !important; }
.split { -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; -moz-binding: url('ellipsis.xml#ellipsis'); overflow: hidden; }

.blank20 { height:20px;display:block; }

/* ======= Common ======= */

.con_nofound { width:400px;height:300px;padding-top:100px;margin:0 auto;color:#555; }
    .con_nofound .Title { border:1px solid #ccc;padding:10px 20px;background:#f5f5f5;text-align:center;  }
    .con_nofound .bigTitle { font-size:60px;font-family:Trebuchet MS; }
    .con_nofound .subTitle { font-size:18px; }
    .con_nofound .hiddenTip {padding:10px; text-align:center; }


/**********************
* public / Layout
**********************/
.wrapper{width:960px;margin:0 auto;text-align:left;overflow:hidden}
.userPageWrapper{width:980px;background:#FFFFFF;border:1px solid #CDCDCD;margin-top:20px;}
.wrapperMax{width:100%;margin:0 auto;text-align:left;overflow:hidden}
.layout200{ width:200px;}
.layout360{ width:360px;}
.layout768{ width:768px;}
.layout960{ width:960px;}
.layout980{ width:980px;}
.layout1000{ width:1000px;}
.layout1040{ width:1040px;}
.maxlayout1920{width:100%;max-width:1920px;}
.layoutH200{height:200px;}
.layoutH100{height:100px;}
.layoutH90{height:90px;}
.layoutH60{height:60px;}
.layoutH50{height:50px;}
.layoutH40{height:40px;}
.layoutH20{height:20px;}
body.bodyNormal{background:#e8e8e8;/*background:url('../images/bgup.png') repeat;*/}
body.bodyHelp{background:#e8e8e8;/*background:url('../images/bgup.png') repeat;*/}
body.bodyShare{background:url('/static/w3-img/sharebg.jpg?1123') center 0 no-repeat #000000;}
body.bodyUser{background:#e8e8e8;/*background:url('../images/bgup.png') repeat;*/}

em.valiU_Correct,em.valiU_Error,em.valiU { color:#00a0e9; }

/* 通用信息提示 */
.About .pubMsgTip { border:1px solid #e7d9b6; background:#ffffd3;padding:15px 25px;margin:20px 0; }
.About p{line-height:22px;padding-bottom:10px;}

/*其他表单元素的定义*/
.fieldset *:focus { outline: none; }
.fieldset input.password, input.text { height: 22px;min-width:150px;_width:150px; padding: 4px; border: 1px solid #bbb; background: #fff; line-height: 14px; color:#555; }
input.vercode { min-width:75px;width:75px;}
.fieldset input.password.focus, input.text.focus { padding: 4px; border: 1px solid #00a0e9 !important; color:#222;background:#f5f9fc !important; }
.fieldset input.error, select.error, textarea.error { border:1px solid #d55000 !important;color:#d55000;background-color:#fff3e1; }
.fieldset input.valiU_TextError { /*padding: 4px; border: 1px solid #ff7f46;background:#fff5f0; */}

.bannerdiv{width:100%;background:#3691f4;}
.HeaderWrapperWhite{width:100%;height:120px;background:#fafafa;border-bottom:1px solid #DDDDDD;}
.Header {padding-left:0px;padding-top:20px;height:114px;}
.Header .Logo { display:block;float:left;width:230px;cursor:pointer;height:62px;
	margin-right:330px;background:url(../images/topLogo.png) no-repeat;}
.Header .Menu { padding-top:22px;*padding-top:20px;text-align:right;}
.Header .Menu .lk {margin-right:40px;_margin-right:35px;}
.Header .Menu .lk a { font-size:16px;font-weight:bold;}
.Header .Menu .lk.on a { color:#fff; }
.Header .Menu .last { margin-right:30px; }
.Header .Menu .btn {margin-top:0px;*margin-top:5px; padding-right:5px;background-position: 100% -320px;}
.Header .Menu .btn span { padding-left:5px; background-position: 0 -320px; }
.Header .Menu .btn a { font-size:14px;color:white;height:24px;line-height:19px;}

.invHeader {padding-top:20px;width:640px;height:90px;*height:130px;height:90px;}
.invHeader .Logo { display:block;float:left;width:194px;cursor:pointer; margin-right:72px;height:54px;
		background:url(../images/topLogo2.png?2013117) no-repeat;}
.invHeader .Menu { padding-top:16px;float:right;}
.invHeader .Menu .lk {margin-right:24px;_margin-right:19px;}
.invHeader .Menu .lk a { font-size:14px;color:white;}
.invHeader .Menu .lk.on a { color:#00A2FF; }
.invHeader .Menu .last { margin-right:10px; }
.invHeader .Menu .btn { padding-right:10px;background-position: 100% -320px;}
.invHeader .Menu .btn span { padding-left:10px; background-position: 0 -320px; }
.invHeader .Menu .btn a { font-size:14px;color:white;height:24px;line-height:19px;}

.btn { background: url('../images/btn.png') no-repeat; padding-right: 10px; display: inline-block; _display: inline;
	vertical-align: middle; zoom: 1; cursor: pointer; 
	_background:url('../images/btn.gif') no-repeat; }
.btn span { background: url(../images/btn.png) no-repeat; padding-left: 10px; display: block; _display: inline-block;
    _background:url(../images/btn.gif) no-repeat; }
.btn a { overflow: visible; display: block; width: auto; _width: 0; height: 30px; line-height: 28px; vertical-align: middle; border: 0; 
	color: #fff; white-space: nowrap; margin: 0px -10px; padding: 0px 10px; text-decoration:none; }
.btn { background-position: 100% -0px; }
.btn span { background-position: 0 -0px; }
.engBtn a{color:white;}
.blueBtn{background:#1cacff;
		-webkit-box-shadow: #1A83BE 0px 1px 1px;
		-moz-box-shadow: #1A83BE 0px 1px 1px;
		box-shadow: #1A83BE 0px 1px 1px;}
		.loginbtn input{cursor:pointer;}
.blueBtn input,.logininput input,.logininputForPhone input {
	font-size:16px;overflow: visible; display: block; _width: 0;
	background:none;height: 40px;*line-height:36px; vertical-align: middle; border: 0;
	white-space: nowrap;}

.Box{overflow:visible;height:460px;position:relative;}


/* ======= Index ======= */


.Index .Banner {height:480px;background: url('../images/topBg.jpg') no-repeat center center #000;background-size: cover;position:relative;}

.Index .intro{height:110px;background:url('../images/logonote.gif') no-repeat;}
.Index .phoneTab{height:40px;margin-left:0px;}
.Index .phoneTab a{display:block;}
.Index .phoneTab .iphoneTab{width:125px;height:40px;}
.Index .phoneTab .blankTab{width:28px;height:40px;background:url('../images/icons.png') -380px 0px no-repeat;
	_background:url('../images/icons.gif') -380px 0px no-repeat;}
.Index .phoneTab .androidTab{width:160px;height:40px;}
.Index .phoneTab .iphoneTab a{width:128px;height:40px;background:url('../images/icons.png') -160px -40px no-repeat;
	_background:url('../images/icons.gif') -160px -40px no-repeat;}
.Index .phoneTab .androidTab a{width:160px;height:30px;background:url('../images/icons.png') -0px -40px no-repeat;
	_background:url('../images/icons.gif') -0px -40px no-repeat;}
.Index .phoneTab .androidTab a:hover{background-position:-0px -0px;}
.Index .phoneTab .iphoneTab a:hover{background-position:-160px -0px;}
.Index .phoneTab .iphoneTab .on{background-position:-160px -0px;}
.Index .phoneTab .androidTab .on{background-position:-0px -0px;}

.Index .DowniPhone {margin:60px 40px 60px 512px;}
.Index .DowniPhone .Downintro{margin-bottom:18px;width:392px;height:164px;color:#ddd;}
.Index .DowniPhone .Downintro h1{font-size:41px;font-weight:normal;margin-top:0;line-height: 41px;}
.Downintro h1+span{
font-weight: bold;
font-size: 32px;
font-family: serif;}
.Index .DowniPhone .Downintro p{font-size: 22px;margin-top: 1.3em;line-height: 28px;}
.Index .DowniPhone .Downintro p:last-child{margin-top:1em;}
.Index .DownAndroid {}
.Index .Download {position:relative;}
	.Index .Download a.bigBtn {display:block;width:200px;padding:10px 20px;height:60px;/*border:1px solid #03020e;*/
		-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;
		background:#000;filter:alpha(opacity=100);_background:#4e5159;background:#4e5159\0;filter:alpha(opacity=100)\0; background:#000}
	.Index .Download a.bigBtn:hover { background:rgba(78, 81, 89,0.9);*filter:alpha(opacity=90);filter:alpha(opacity=90)\0; }
	.Index .Download a.smallBtn { 
		margin-top:10px;color:#fff;display:block;width:200px;padding:5px;line-height:30px;border:1px solid rgba(255, 255, 255, 0.2);
		font-size:14px; text-align:center;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px; 
    	background:#fff;filter:alpha(opacity=30);_background:#606060;_border:1px solid #aaa;background:#fff\0;filter:alpha(opacity=30)\0;background:rgba(255, 255, 255, 0.3);}
	.Index .Download a.smallBtn:hover { background:rgba(255, 255, 255, 0.4); *filter:alpha(opacity=40);filter:alpha(opacity=40)\0;  }

	.Index .Download .appstore {width:196px; height:60px;background:url('../images/icons.png') -0px -80px no-repeat;
		position:relative;_background:url('../images/icons.gif') -0px -80px no-repeat;}
	.Index .Download .googleplay {width:200px; height:60px;background:url('../images/icons.png') -200px -80px no-repeat;
		position:relative;_background:url('../images/icons.gif') -200px -80px no-repeat;}
	.Index .Download .smallBtn span { display:block;position:relative;  }
	.Index .Download .iphonePic{position:absolute;top:-100px; left:80px;width:289px;height:598px;background:url('../images/ios.png?1126') 0 0px no-repeat;}
	.Index .Download #iphonePic1{background-position:0 0;}
	.Index .Download #iphonePic2{background-position:-241px 0;}
	.Index .Download #iphonePic3{background-position:0 -427px;}
	.Index .Download #iphonePic4{background-position:-241px -427px;}
	.Index .Download .androidPic{width:300px;height:600px;background:url('../images/and.png');position:absolute;top:-220px; left:580px;}

.Intro2{margin-top:6em !important;}
.Index .Intro2 .slide{width:320px;height:240px;text-align:center;}
    .Index .Intro2 .pic{margin:30px auto;width:140px;height:100px;background:url('../images/sliders.gif');background-repeat:no-repeat;}
    .Index .Intro2 .pic1{background-position: 0px 0px;}
    .Index .Intro2 .pic2{background-position: -140px 0px;}
    .Index .Intro2 .pic3{background-position: -280px 0px;}
    .Index .Intro2 .pic4{background-position: 0px -100px;}
    .Index .Intro2 .pic5{background-position: -140px -100px;}
    .Index .Intro2 .pic6{background-position: -280px -100px;height:120px;margin-bottom:10px;}
    .Index .Intro2 .pic7{background-position: -420px -100px;height:120px;margin-bottom:10px;}
    .Index .Intro2 .title1 {font-size:15px;line-height:20px;display:block;color:#6e6e6e; }
    .Index .Intro2 .title2 {font-size:12px;display:block;color:#6e6e6e;}

.Index .contactAndNews{padding:9px;}
    .Index .contactAndNews .conBtn { width:230px;height:80px;position:relative;margin-right:10px;overflow:hidden; }
    .Index .contactAndNews .conBtn a { position:relative;display:block;height:100%;color:#6e6e6e;width:100%;line-height:75px;
        text-align:center;font-size:20px;color:#fff; 
        /*pointer-events:none;*/}
    .Index .bgContactUs { background:url('../images/btn.png') -0px -480px no-repeat;
                    _background:url('../images/btn.gif')m -0px -480px no-repeat;}
    .Index .bgContactUs:hover{background-position: -0px -360px;}
    .Index .bgJoinUs {  background:url('../images/btn.png') -0px -720px no-repeat;
                    _background:url('../images/btn.gif') -0px -720px no-repeat;}
    .Index .bgJoinUs:hover{background-position: -0px -600px;}
    .Index .bgWeibo { background:url('../images/btn.png') -0px -960px no-repeat;
                    _background:url('../images/btn.gif') -0px -960px no-repeat;}
    .Index .bgWeibo:hover{background-position: -0px -840px;}
    .Index .news{width:231px;height:140px;}

/* ======= Index End ======= */


/**********common font(to be change)***********/
.mtitle {font-size:20px;}
.mltitle {font-size:16px;}
.msub {font-size:14px;}
/**********common font end********************/
		
.bottomLine{border-bottom:1px solid white;width:960px;}
.bottomLineGray{border-bottom:1px solid #6e6e6e;width:960px;}
.footerWrapperGray{width:100%;height:100px;background:#e8e8e8;border-top:1px solid #D6D6D6;}
.footerWrapper{padding:0px;position: absolute;bottom: 0;width:100%;}
.footer{text-align:center;margin-top:30px;}
.bodyShare .footer{width:640px;}
.footerlk .Menu{margin-top:10px;}
.footerlk .Menu .lk {margin-right:30px;_margin-right:25px;}
.footerlk .Menu .lk a { font-size:13px;color: #666;}
.footerlk .Menu .lk.on a { color:#00A2FF; }
.CopyRight{margin-top:30px;margin-bottom:4px;}

.bignote{font-size:26px; line-height:42px;text-align:center;}
/************aboutus*****************/
.aboutusnote{margin-bottom:40px;margin-top:-50px;}
.aboutusbg1{height:400px;background:url('../images/aboutusbg1.png') no-repeat;_background:url('../images/aboutusbg1.gif') no-repeat;margin-top:20px;}
.aboutustext{font-size:14px;line-height:26px;}

.aboutustext a{color:#00b4ff;}
.mainTopHelp .aboutustext p{line-height:20px;}

.members{margin-top:10px;margin-bottom:20px;}
.members .member{width:208px;}
.members .photo{width:160px;height:160px;margin-left:24px;background:url('../images/people.gif') no-repeat;}
.members .member .mltitle{text-align:center;color:#5B5B5B;line-height:40px;}
.members .member .msub{text-align:center;color:#646464;}
.members .zsc{background-position:-160px 0px;}
.members .lzw{background-position:-320px 0px;}
.members .lxl{background-position:-480px 0px;}
.members .wl{background-position:-640px 0px;}
.address{height:382px;margin-top:60px;}
.contactinfo{width:360px;height:267px;}
	.contactinfo .mtitle{color:#5B5B5B;}
	.contactinfo .msub{height:26px;}
	.contactinfo .last{margin-bottom:38px;}
.contactmap{width:552px;height:360px;background:url('../images/map.png');margin-right:60px;}

.bodyHelp .email p{line-height:22px;}
.bodyHelp .email span{float:left;margin-right:5px;} 
.bodyHelp .email .emailItem{height:22px;width:178px;display:block;line-height:22px;}


.joinusbg1{height:380px;background:url('../images/joinbg1.png') no-repeat;_background:url('../images/joinbg1.gif') no-repeat;margin-top:40px;}
.joinusnote{margin-bottom:20px;}
.joinustext{font-size:16px;line-height:26px;height:108px;margin-top:10px;}
.jobitems{}
.jobitems .last{margin-bottom:80px;}
.jobitems .job2item{width:100%;height:auto;margin-top:36px;}
.jobitems .job2item .fl{width:532px;}
.jobitems .job2item .fr{width:390px;}
.jobitems .mtitle span {color:#c00;font-size:12px;padding:0 5px;line-height:20px;}
.jobitems .msub b{line-height:30px;}
.jobicon{width:76px;height:60px;background:url('../images/icons.png') no-repeat;
	_background:url('../images/icons.gif') no-repeat;}
.serveri{background-position:0px -180px;}
.designeri{background-position:-80px -180px;}
.iosi{background-position:-160px -180px;}
.pmi{background-position:-240px -180px;}
.admini{background-position:-0px -240px;}
.webi{background-position:-80px -240px;}
.andi{background-position:-160px -240px;}
.pminti{background-position:-240px -240px;}
/************end aboutus*************/

/************help common********************/
.leftTab{width:192px;}
.rightContext{width:780px;}
.rightContext p.i{margin-left:1.5em;}
.rightContext p.i:first-letter {margin-left: -1.5em;}
/************my page*****************/
.usertabs{font-size:16px;}
.usertabs .tab{border-bottom:1px solid #DDDDDD;height:50px;text-align:center;line-height:50px;background: #FFFFFF;}
.usertabs .tab:hover,.usertabs .on,.usertabs .on a{background: #1cacff;cursor:pointer;color:#FFFFFF;}
.usertabs a{color:#5B5B5B;display:block;width:100%;height:100%;}
.usertabs a:hover{color:#FFFFFF;}
.usercontext{font-size:14px;border-left:1px solid #DDDDDD;width:698px;padding-left:30px;padding-top:30px;
		min-height:480px;}
.usercontext h3{font-size:20px;font-weight:normal;color:#00A2FF;margin-bottom:20px;}
.userbtn{width:200px;height:40px;margin:30px 0 30px;}
.userbtn input{width:200px;}
/************help********************/
.bodyHelp .last,.About .last{margin-bottom:100px;}
.bodyHelp h3 {font-size:20px;margin-top:60px;margin-bottom:18px;color:black;font-weight:normal;color:#00A2FF;}
.question{font-size:16px;color:black;margin-top:18px;margin-bottom:6px;}
h3 a:hover {text-decoration:underline; }
h4 { color:#00a0e9;font-size:24px;padding:10px 0; line-height:85px;height:70px;}
h5 { font-weight:normal;color:#555;font-size:16px;padding:5px 0; }

.bodyHelp .bottomLine{height:280px;border-bottom:1px solid #6e6e6e;width:960px;}
.helptabs{font-size:16px;margin-top:60px;}
.helptabs .tab{border:0px solid #646464;margin-left:12px;margin-right:12px;margin-bottom:24px;
	width:114px;height:36px;text-align:center;line-height:36px;
		background: #FFFFFF;}
.helptabs .off{
		z-index:2;
		background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#F4F4F4));
		background: -webkit-linear-gradient(#FFFFFF, #F4F4F4);
		background: -moz-linear-gradient(#FFFFFF, #F4F4F4);
		background: -ms-linear-gradient(#FFFFFF, #F4F4F4);
		background: -o-linear-gradient(#FFFFFF, #F4F4F4);
		background: linear-gradient(#FFFFFF, #F4F4F4);
		-pie-background: linear-gradient(#FFFFFF, #F4F4F4);
		-webkit-box-shadow: #c9c9c9 0px 2px 2px;
		-moz-box-shadow: #c9c9c9 0px 2px 2px;
		box-shadow: #c9c9c9 0px 2px 2px;
}
.helptabs .on{
	z-index:2;
	background: #ECECEC;
	border:1px solid #CDCDCD;
	-webkit-box-shadow: #CDCDCD 0px 2px 2px inset;
	-moz-box-shadow: #CDCDCD 0px 2px 2px inset;
	box-shadow: #CDCDCD 0px 2px 2px inset;
}
.helptabs .on a{color:#00b4ff;}
/************end help****************/
.mainTop{height: auto;background:#fff;min-width: 960px;}
.mainTopAboutUs{height:auto;background:url('../images/bgup.png') repeat;}
.mainTopHelp{height:auto;background:#fff;}
.mainTopUser{height:auto;background:url('../images/bgup.png') repeat;padding-bottom:20px;}

.radius5{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.radius10{-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
.radius20{-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}
.boxshadow5{-webkit-box-shadow: #666 0px 0px 5px;-moz-box-shadow: #666 0px 0px 5px;box-shadow: #666 0px 0px 5px;}
.boxshadow3D{-webkit-box-shadow: #666 0px 3px 3px;-moz-box-shadow: #666 0px 3px 3px;box-shadow: #666 0px 3px 3px;}
.boxshadow20{-webkit-box-shadow: #666 0px 0px 20px;-moz-box-shadow: #666 0px 0px 20px;box-shadow: #666 0px 0px 20px;}
/******************login*************/
.loginWrapper{width:430px;min-height:275px;background:#FFFFFF;border:1px solid #CDCDCD;margin-top:80px; }
.Login .logintitle{margin-top:16px;width:360px;height:44px;border-bottom:1px dashed #CDCDCD;margin-bottom:26px;}
.Login .logininput{width:360px;height:40px;border:1px solid #CDCDCD; margin-bottom:16px;position:relative;}
.Login .loginbtn{width:184px;height:40px;margin:0 auto 26px;}

.Login .logininputWrapper{width:362px;height:42px;overflow:visible;margin-bottom:16px;position:relative;*z-index:60;}
.Login .logininputForPhone{width:210px;height:40px;border:1px solid #CDCDCD; margin-bottom:16px;position:relative;padding-left:8px;*z-index:500;}
.Login .logininputForPhone #phone{width:156px;}
.Login .loginPhoneAreaCode{width:130px;height:40px;border:1px solid #CDCDCD;position:relative;}
.Login .loginPhoneAreaCodeList{z-index:5000;background:#FFFFFF;width:114px;overflow-x:hidden;overflow-y:auto;height:200px;border:1px solid #CDCDCD;margin-top:-1px;margin-left:-1px;position:relative;padding:0 8px;}
.Login .loginPhoneAreaCodeList .firstitem{height:40px;margin-left:20px;}
.Login .loginPhoneAreaCode .showitem{height:40px;margin-left:28px;}
.Login .loginPhoneAreaCodeList .item{overflow:hidden;height:40px;border-top:1px solid #CDCDCD;word-break:keep-all;white-space:nowrap;text-overflow:ellipsis;}
.Login .loginPhoneAreaCodeList .normalitem{line-height:40px;padding-left:10px;}
.Login .loginPhoneAreaCodeList .item:hover{background:#EAEAEA;}
.Login .loginPhoneAreaCode .text{line-height:40px;height:40px;display:block;}
.Login .loginPhoneAreaCode .listBtn{margin-left:10px;line-height:40px;height:40px;display:block;}
.Login .loginPhoneAreaCode .listBtn a{margin-top:10px;display:block;width:20px;height:20px;background:url("/static/w3-img/icons.png?1129") -480px -200px no-repeat;}
.Login .loginPhoneAreaCode .on a{background-position:-480px -180px;}
.Login .loginByTabs .loginByTab{color:#b0b0b0;width:164px;height:38px;text-align:center;line-height:38px;display:block;}
.Login .loginByTabs .on{background:#f0f0f0;color:#000000;}

.Login .logininput .icon{border-right:1px solid #CDCDCD;background:url("../images/icons.png?2") no-repeat;width:40px;height:36px;margin-top:2px;margin-right:8px;}
.Login .logininput .username{ background-position:-440px -182px;}
.Login .logininput .password{ background-position:-440px -222px;}
.Login .loginbtn span{background:none;}
.Login .loginbtn input{width: 184px;}
.Login .last{margin-bottom:0px;}

.Login .logininput span,.Login .logininputForPhone span{/*width:100%;*/line-height:40px;display:block;float:left;}
.Login .logininput .valiU,.logininput .valiU_Correct,.logininput .valiU_Error{margin-left:80px;line-height:40px;}
.Login .submitMsg {margin:0 auto;color:#c00;height:26px;width:100%;}
.Login .vercode { min-width:60px;width:80px;float:left; height:28px;}
.Login .btnSubmit { min-width:80px;width:80px; }
.Login .btnSubmit input { width:90px;display:block;}
.Login .vercodeinput {width:270px;position:relative;}
.Login .vercodeimg { width:60px;height:28px;display:inline-block;float:left;}
.Login .vercodeinput input{width:40px;height:18px;}
.Login .vercodeinput span{width:85px;line-height:26px;display:block;float:left;padding-left:5px;}
.Login .vercodeinput span.logintip{padding-left:15px;}
.Login .logintip{position:absolute;}
.Login .logininput .logintip{*left:50px;}
.Login .vercodeinput .logintip{*left:0px;}
.Login .logininputverify{width:300px;height:100px;}
/******************share*************/
.bodyShare .footer .en{display:inline-block;background:#4e626d;width:60px;margin-left:0px;}
	.bodyShare .errorMsg {width:640px;text-align:center;margin-top:100px;margin-bottom:100px;}
   	.bodyShare .bigTitle { font-size:60px;font-family:Trebuchet MS; }
    .bodyShare .subTitle { font-size:18px; }

 .photoframe{border:1px solid #CDCDCD;
		-webkit-box-shadow: #c9c9c9 1px 2px 2px;
		-moz-box-shadow: #c9c9c9 1px 2px 2px;
		box-shadow: #c9c9c9 1px 2px 2px;
		border:5px solid #FFFFFF;}
.persionInfos{width:640px;background:white;}
.persionInfos .name{width:130px;overflow:hidden;word-break:keep-all;white-space:nowrap;text-overflow:ellipsis;}
.groupInfos{width:640px;background:white;}
.groupInfo{width:100%;padding-top:100px;margin-left:16px;}
.groupInfo .mtitle{line-height:40px;margin-top:100px;}
.groupInfo .msub{margin-right:20px;}
.groupInfo .groupphoto{width:163px; height:163px;margin-right:20px;}
.groupInfo .groupphoto img{width:163px; height:163px;}
.groupInfos .groupInfoBg{width:100%;height:100%;background:url('/static/w3-img/topTr.png');_background:url('/static/w3-img/topTr.gif');}
.bodyShare .CopyRight{margin-top:20px;}
.leftPhoto{padding-left:10px;padding-top:10px;width:170px;_width:170px;}
.leftPhoto img{margin-right:5px;}
.topPhoto{height:290px;width:640px;}
.personphoto{width:150px;height:150px;margin-bottom:10px;}
.personsharemain{width:442px;background:url("/static/w3-img/shadowV.png") repeat-y;padding-left:8px;padding-top:10px;_width:440px;}
.groupsharemain{width:640px;background:url("/static/w3-img/shadowH.png") repeat-x;padding-top:20px;padding-left:10px;}
.personphotolist{width:460px;margin-bottom:50px;_width:450px;_height:180px;}
.groupphotolist{width:640px;}
.personphotolist .photoitem{width:106px;height:106px;background:gray;float:left;margin-right:5px;margin-bottom:5px;}
.groupphotolist .photoitem{width:84px;height:84px;background:gray;float:left;margin-right:5px;margin-top:5px;}
.personsharemain .sharesign{font-size:14px;line-height:24px;margin-left:13px;_width:400px;}
.groupsharemain .sharesign{margin-top:15px;margin-left:3px;width:615px;line-height:18px;}
.groupsharemain .sharesign pre{font:14px "Microsoft YaHei","微软雅黑",arial,simsun,"宋体";}
.sharesign .br{height:10px;}
.groupmembers p{margin-left:3px;margin-top:15px;}

.sharemain{margin-left:13px;/**margin-top:-80px;_margin-top:-80px;*/}
.groupsharemain .sharemain{/**margin-top:-80px;_margin-top:-80px;*/}
.sharemain .label{line-height:43px;font-size:16px;}
.sharemain .shareBar{width:439px;margin-top:30px;_width:439px;}
	.sharemain .shareBar a,.sharemain .shareBar span{padding:0px;border:none;display:block;float:left;}
	.sharemain .shareBar .label{width:195px;text-align:right;margin-top:12px;}
	.sharemain .shareBar a span{background:url('../images/icons.png?130117') no-repeat;display:block;}
	.sharemain .shareBar a.btn_sina span {background-position:-320px -140px;}
	.sharemain .shareBar a.btn_tencent span {background-position:-320px -200px;}
	.sharemain .shareBar a.btn_renren span {background-position:-380px -140px;}
	.sharemain .shareBar a.btn_qzone span {background-position:-380px -200px;}
	.sharemain .shareBar a.btn_facebook span {background-position:-320px -260px;}
	.sharemain .shareBar a.btn_twitter span {background-position:-380px -260px;}
	.sharemain .shareBar a.btn_download span {background-position:-440px -120px;}
	.sharemain .shareBar a.btn_appstore span {background-position:-440px -60px;}
	.sharemain .shareBar a.btn_googleplay span {background-position:-440px -00px;}
	.sharemain .shareBar .sbtn{margin-right:18px;width:43px;height:43px;margin-top:12px;_margin-right:17px;}
	.sharemain .shareBar .sbtn span{width:43px;height:43px;}
	.sharemain .shareBar .bbtn{margin-right:1px;width:140px;height:55px;_margin-right:0px;padding-bottom:30px;}
	.sharemain .shareBar .bbtn span{width:140px;height:55px;}
	
.uSharePage .shareInput { width:480px;margin-top:20px;}
.uSharePage .sharemain .shareBar{width:100%;}
.uSharePage .sharemain .shareBar a em{width:97px;display:block;margin-top:70px;text-align:center;}
.uSharePage .sharemain .shareBar a{display:block;width:97px;height:97px;}
.uSharePage .sharemain .shareBar a:hover{background:#D8ECFF;}
.uSharePage .sharemain .shareBar a span{margin-left:28px;margin-top:16px;}

.feedContainer .feedlist{margin-right:95px;}
.feedContainer .feedimg,.feedContainer .feedimg img{width:453px;}
.feedContainer .feedimg{}
.feedContainer .feedmain{width:419px;padding:16px;border:1px solid #E4E4E4; border-top:0px;}
.feedContainer .feedmain .userimg,.feedContainer .feedmain .userimg img{width:46px;height:46px;}
.feedContainer .feedmain .feedcontext{margin-left:16px;width:350px;}
.feedContainer .feedmain .feedcontext .feedinfo{margin-bottom:10px;}
.feedContainer .feedmain .feedcontext .feedinfo .withsite{padding-left:18px;background:url('../images/siteicon.png') 0 2px no-repeat;}
.feedContainer .feedfirst{background:white;}
.feedContainer .feedcomment{background:#F5F5F5}
.Download .logoforfeed{width:308px;height:83px;background:url('../images/logoforfeed.png'); margin-bottom:45px;}
.Download .logoforfeed a{display:block;width:100%;height:100%;}
.Download .noteforfeed{font-size:18px;line-height:20px;width:407px;color:#6c6c6c; margin-bottom:45px;}
/***************about**************/
.contact-us{
text-transform: uppercase;
font-size: 36px;
padding: 1em 0;
color: #76a70a;
background: #ddd;
}
.aboutus-top{
font-size: 14px;
margin: 60px 10px 26px;
color:#666;
}
h1{
width:960px;
margin:0 auto;
}
#contact_list a:hover {
text-decoration: none;
color: #488C00;
}
#contact_list a,#contact_list a:active {
text-decoration: none;
color: #76A70A;
outline: none;
}
#contact_list {
height: 330px;
margin:10px 50px 40px 0;
border-top: 1px solid #DCDCDC;
}
.contact_item {
float: left;
width: 410px;
margin-top: 50px;
margin-right: 20px;
}
.icon {
background: url(../images/contact_icons.png) 0 2px no-repeat;
width: 36px;
height: 45px;
float: left;
margin-right: 10px;
margin-top: 6px;
}
.icon-talkYep {
margin-right: 20px;
margin-top: 3px;
background:none;
width: 76px;
height: 63px;
}
#contact_page .wechat {
width: 100%;
}
#contact_page .wechat .detail {
margin-bottom: 16px;
font-size: 26px;
font-weight: normal;
}
.detail {
margin-bottom: 10px;
font-size: 13px;
font-weight: bold;
line-height: 26px;
}
#contact_page .wechat .name {
font-size: 18px;
font-weight: normal;
}
.name {
padding-bottom: 5px;
color: #3C3C3C;
}
.green {
color: #08c;
font-weight:bold;
}

.email {
background-position: -50px 0;
}
.support {
background-position: -150px 0;
}
.business {
background-position: -100px 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
.Header .Logo { 
	background:url(../images/topLogo@2x.png) no-repeat;
	background-size:133px auto;
}
}
